.header {
  background: url(../../img/top-intro/top-intro.jpg) center no-repeat;
  height: 650px;
}

.top-line {
  height: 85px;
  @include row-flex();
  @include md(justify-content, space-between);
  @include md(align-items, center);
}

.header__list {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
}