@font-face {
  font-family: "Roboto Slab Regular";
  src: url("../../fonts/RobotoSlabRegular/RobotoSlab-Regular.eot");
  src: url("../../fonts/RobotoSlabRegular/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/RobotoSlabRegular/RobotoSlab-Regular.woff") format("woff"),
    url("../../fonts/RobotoSlabRegular/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Regular";
  src: url("../../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../../fonts/RalewayBold/RalewayBold.eot");
  src: url("../../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/RalewayBold/RalewayBold.woff") format("woff"),
    url("../../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
